<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ghost_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ghost_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{30,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>/Users/Noah/Desktop/lahacks/SlipperySocks/SlipperySocks/res/ghosts/ghost.png/ghost.png</string>
            <key>size</key>
            <string>{70,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe7bac02e804143263044447b5fce64e:d23fdc11b3e864496a589e8edb6a1d79:8538abdcbd4db339f06a581573008863$</string>
            <key>textureFileName</key>
            <string>/Users/Noah/Desktop/lahacks/SlipperySocks/SlipperySocks/res/ghosts/ghost.png/ghost.png</string>
        </dict>
    </dict>
</plist>
