<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ghost_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ghost_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{28,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>/Users/Noah/Desktop/lahacks/SlipperySocks/SlipperySocks/res/ghosts/ghost.png/ghost.png</string>
            <key>size</key>
            <string>{32,71}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7060ef0ad05c1a672569131793e0677e:b1a53d356139d0688a49a8129042daa2:8538abdcbd4db339f06a581573008863$</string>
            <key>textureFileName</key>
            <string>/Users/Noah/Desktop/lahacks/SlipperySocks/SlipperySocks/res/ghosts/ghost.png/ghost.png</string>
        </dict>
    </dict>
</plist>
